<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="static/pictures/MADB.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>MADB - Team Members</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navigation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="Main_Page.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Overview.html">Project Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Tool.html">Tool</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Bios.html">Team</a>
            <li class="nav-item">
              <a class="nav-link" href="How_It_Works.html">How It Works</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<main>

  <h1>&nbsp; Meet the MADB Team<br></h1>
  <h5>&nbsp;&nbsp;&nbsp; The MADB Team is comprised of Georgia Tech MS in Analytics students with backgrounds in computer science, data analytics and business consulting.</h5>
  <h5>&nbsp;&nbsp; We leveraged our diverse industry and technical perspectives to add value throughout the MADB development and analytics pipeline process.<br></h5>

  <hr class="featurette-divider">
  <h1>&nbsp; Roles and Responsibilities<br></h1>
  <h5>&nbsp;&nbsp;&nbsp; We separated project roles into the following categories:<br><br></h5>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img src="static/pictures/bez.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="150" height="150" loading="lazy">

        <h2>Data Preparation</h2>
        <p><br><br>1) Identifying suitable data sets<br>2) Preparing and transforming data for further analysis<br>3) Storing data in an efficient and cost-effective manner</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <img src="static/pictures/bulb.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="150" height="150" loading="lazy">

        <h2>Algorithm Selection and Data Analysis</h2>
        <p>1) Testing various analytics techniques on cleaned data informed by best practices<br>2) Evaluating model performance according to project objectives <br>3) Scaling selected model(s) to perform adequately on full data sets</p></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <img src="static/pictures/layout.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="150" height="150" loading="lazy">

        <h2>Data Visualization and Project Management</h2>
        <p>1) Creating interactive representations of final models for presentation and analysis<br>2) Developing compelling web pages to house and contextualize final models and visualizations<br>3) Ensuring adherence to deliverable requirements and project timelines</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">
    <h1>Team Members<h1>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">John Kalafut <span class="text-muted"><br>Role: Data Preparation</span></h2>
      </div>
      <div class="col-md-5">
        <img src="static/pictures/john.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Jerry Mahone <span class="text-muted"><br>Role: Data Preparation</span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/pictures/jerry.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Michael Kim <span class="text-muted"><br>Role: Algorithm Selection and Data Analysis</span></h2>
      </div>
      <div class="col-md-5">
        <img src="static/pictures/mike.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Priscilla Mariani<span class="text-muted"><br>Role: Algorithm Selection and Data Analysis</span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/pictures/priscilla.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dina Broydo<span class="text-muted"><br>Role: Data Visualization and Project Management</span></h2>
      </div>
      <div class="col-md-5">
        <img src="static/pictures/dina.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ben Hawtof<span class="text-muted"><br>Role: Data Visualization and Project Management</span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/pictures/ben.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
    </div>

    <hr class="featurette-divider">

  </div><!-- /.container -->

  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    Made by John, Jerry, Michael, Priscilla, Dina and Ben
    <br>
    Georgia Institute of Technology - CSE6424 - Spring 2021
  </footer>
</main>

  </body>
</html>
